@using SystemManagementPetshop.Services
@inherits SystemManagementPetshop.Pages.FlowbitePage
@inject AuthService AuthService

<div id="cta-button-sidebar"
    class="fixed top-0 left-0 z-40 h-screen border-solid border-r-2 border-gray-200 dark:border-gray-700 transition-all duration-300  @SideMenuService.NavMenuCssClass"
    aria-label="Sidebar">

    <div class="h-full flex flex-col gap-6 px-3 py-4 bg-gray-50 dark:bg-gray-800 @SideMenuService.NavMenuItemsCssClass">
        <div class="flex justify-center items-center pt-6">
            <svg height="128px" width="128px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" class="h-32 w-32">
                <path style="fill:#BF7447;" d="M374.893,80.155h-48.128C326.765,40.59,295.577,8.17,256,8.17s-70.765,32.398-70.765,71.963
 l31.483,68.967l-31.483,25.458l-31.788,15.926c0,27.387,4.249,43.988,23.105,62.845C192.872,269.65,256,332.876,256,332.876
 s36.46-36.558,48.629-48.727c18.9-18.9,23.105-34.685,23.105-55.786v-79.818h13.159c18.868,0,34.173-16.798,34.173-35.709
 C375.056,94.676,374.893,80.155,374.893,80.155z" />
                <path style="fill:#A0613C;" d="M220.628,44.762c7.506,0,24.478,15.839,24.478,35.372v94.361c0,19.532-16.972,35.372-24.478,35.372
 c-19.598,0-35.393-15.839-35.393-35.372l0.011-94.361C185.246,60.601,201.085,44.762,220.628,44.762z" />
                <path style="fill:#804E30;" d="M256,80.133v94.361c0,19.532-15.839,35.372-35.372,35.372c7.506,0,13.584-15.839,13.584-35.372
 V80.133c0-19.532-6.079-35.372-13.584-35.372C240.161,44.762,256,60.601,256,80.133z" />
                <path style="fill:#FF9B5F;" d="M96.98,110.437c-13.136,0-23.783,10.649-23.783,23.783v156.064h47.567V134.22
 C120.763,121.086,110.116,110.437,96.98,110.437z" />
                <path style="fill:#FEBB8E;" d="M88.083,268.498V134.22c0-13.136-10.649-23.783-23.784-23.783s-23.783,10.649-23.783,23.783
 l0.133,149.944c0.004,5.428,2.185,13.74,4.845,18.471l94.211,152.563c2.66,4.731,4.836,13.044,4.836,18.471v29.876h95.119v-51.2
 l-39.871-97.498L88.083,268.498z" />
                <path style="fill:#FCD5A2;" d="M239.661,392.264c0-16.284-9.421-39.027-20.934-50.542l-90.042-90.042
 c-9.288-9.288-24.347-9.288-33.635,0c-9.288,9.288-9.288,24.347,0,33.635l72.683,72.683v21.359c0,40.31,31.619,72.987,71.928,72.987
 L239.661,392.264L239.661,392.264z" />
                <path style="fill:#FF9B5F;" d="M415.021,110.437c13.136,0,23.783,10.649,23.783,23.783v156.064h-47.567V134.22
 C391.237,121.086,401.885,110.437,415.021,110.437z" />
                <path style="fill:#FEBB8E;" d="M423.917,268.498V134.22c0-13.136,10.649-23.783,23.784-23.783s23.783,10.649,23.783,23.783
 l-0.133,149.944c-0.004,5.428-2.185,13.74-4.845,18.471l-94.212,152.563c-2.66,4.731-4.836,13.044-4.836,18.471v29.876h-95.12v-51.2
 l39.871-97.498L423.917,268.498z" />
                <path style="fill:#FCD5A2;" d="M272.339,392.264c0-16.284,9.421-39.027,20.935-50.542l90.042-90.042
 c9.288-9.288,24.347-9.288,33.635,0c9.288,9.288,9.288,24.347,0,33.635l-72.683,72.683v21.359c0,40.31-31.619,72.987-71.928,72.987
 v-60.08H272.339z" />
                <g>
                    <path style="fill:#1D2328;" d="M134.461,246.187c-10.334-10.334-26.04-12.088-38.208-5.278V134.505
  c0-5.404-1.353-10.497-3.732-14.965c1.431-0.426,2.93-0.649,4.459-0.649c8.609,0,15.613,7.004,15.613,15.613v78.553
  c0,4.512,3.658,8.17,8.17,8.17c4.512,0,8.17-3.658,8.17-8.17v-78.553c0-17.619-14.335-31.953-31.953-31.953
  c-5.828,0-11.447,1.574-16.351,4.502c-4.782-2.855-10.366-4.502-16.33-4.502c-17.619,0-31.954,14.334-31.954,31.961l0.133,149.944
  c0.005,6.842,2.539,16.502,5.892,22.467c0.054,0.098,0.112,0.194,0.171,0.29l94.114,152.403c1.954,3.564,3.716,10.342,3.716,14.338
  v29.877c0,4.512,3.658,8.17,8.17,8.17s8.17-3.658,8.17-8.17v-29.876c0-6.846-2.53-16.507-5.884-22.475
  c-0.056-0.098-0.112-0.194-0.171-0.29L52.544,298.788c-1.955-3.565-3.721-10.348-3.725-14.346l-0.133-149.936
  c0-8.609,7.005-15.613,15.614-15.613s15.613,7.004,15.613,15.613v134.277c0,0.192,0.015,0.38,0.028,0.569
  c0.141,7.992,3.245,15.941,9.33,22.026l73.18,73.179c3.191,3.191,8.364,3.191,11.554,0c3.191-3.191,3.191-8.363,0-11.554
  l-73.18-73.179c-6.087-6.087-6.087-15.993,0-22.08c6.087-6.087,15.993-6.087,22.081,0l90.042,90.042
  c10.05,10.05,18.542,30.55,18.542,44.764v111.28c0,4.512,3.658,8.17,8.17,8.17c4.512,0,8.17-3.658,8.17-8.17V392.548
  c0-18.5-10.247-43.238-23.329-56.319L134.461,246.187z" />
                    <path style="fill:#1D2328;" d="M447.702,102.551c-5.963,0-11.547,1.646-16.33,4.502c-4.904-2.928-10.523-4.502-16.351-4.502
  c-17.619,0-31.954,14.334-31.954,31.953v78.553c0,4.512,3.657,8.17,8.17,8.17c4.513,0,8.17-3.658,8.17-8.17v-78.553
  c0-8.609,7.005-15.613,15.614-15.613c1.528,0,3.027,0.223,4.459,0.649c-2.379,4.467-3.732,9.56-3.732,14.965v106.391
  c-4.717-2.65-10.055-4.069-15.613-4.069c-8.535,0-16.559,3.324-22.594,9.359l-90.041,90.042
  c-13.082,13.081-23.329,37.818-23.329,56.319V503.83c0,4.512,3.657,8.17,8.17,8.17c4.513,0,8.17-3.658,8.17-8.17V392.548
  c0-14.214,8.492-34.714,18.543-44.764l90.042-90.042c2.948-2.949,6.87-4.573,11.04-4.573s8.092,1.624,11.04,4.573
  c2.95,2.949,4.573,6.87,4.573,11.04s-1.623,8.092-4.573,11.041l-73.179,73.179c-3.191,3.191-3.191,8.364,0,11.554
  c3.191,3.19,8.363,3.192,11.555,0l73.178-73.179c6.036-6.035,9.36-14.059,9.36-22.596V134.505c0-8.609,7.005-15.613,15.614-15.613
  c8.608,0,15.613,7.004,15.613,15.606l-0.132,149.943c-0.004,4-1.77,10.783-3.726,14.346L365.345,451.19
  c-0.06,0.095-0.115,0.192-0.171,0.29c-3.354,5.968-5.884,15.63-5.884,22.475v29.876c0,4.512,3.658,8.17,8.17,8.17
  c4.513,0,8.17-3.658,8.17-8.17v-29.876c0-3.996,1.762-10.774,3.716-14.338l94.113-152.403c0.06-0.095,0.117-0.191,0.17-0.289
  c3.354-5.964,5.888-15.624,5.895-22.469l0.132-149.951C479.655,116.885,465.321,102.551,447.702,102.551z" />
                    <path style="fill:#1D2328;" d="M253.596,64.276c-4.512,0-8.17,3.658-8.17,8.17v103.318c0,13.034-11.51,24.045-25.135,24.045
  s-25.135-11.011-25.135-24.045v-16.337c0-0.002,0-0.003,0-0.005V73.449C195.155,43.027,223.587,16.34,256,16.34
  c35.826,0,62.595,33.692,62.595,63.815c0,4.512,3.657,8.17,8.17,8.17h40.031c0.048,6.137,0.101,15.104,0.101,24.511
  c0,13.126-13.609,27.539-26.003,27.539h-13.159c-4.453,0-8.086,3.565-8.169,8.018c-0.046,2.462-1.111,60.538,0.012,80.43
  c1.096,19.404-9.802,39.44-9.983,39.768c-2.187,3.941-0.77,8.911,3.169,11.104c1.258,0.7,2.622,1.033,3.967,1.033
  c2.868,0,5.652-1.514,7.146-4.198c0.548-0.983,13.387-24.353,12.016-48.629c-0.846-14.996-0.377-54.213-0.12-71.187h5.122
  c21.37,0,42.344-21.735,42.344-43.879c0-17.021-0.173-32.618-0.175-32.773c-0.05-4.476-3.693-8.078-8.169-8.078h-40.408
  C330.168,32.789,295.344,0,256,0c-19.436,0-38.963,7.765-53.573,21.305c-15.227,14.111-23.613,32.629-23.613,52.143v82.591
  l-30.78,30.78c-3.191,3.191-3.191,8.364,0,11.555c1.595,1.596,3.686,2.393,5.777,2.393s4.182-0.797,5.777-2.393l19.378-19.378
  c1.757,20.448,19.959,37.154,41.324,37.154c22.482,0,41.475-18.495,41.475-40.386V72.446
  C261.765,67.934,258.108,64.276,253.596,64.276z" />
                </g>
            </svg>
        </div>

        <li>
            <div data-popover-target="popover-user" id="dropdown-cta" class="rounded-lg bg-blue-100 dark:bg-gray-900"
                role="alert">
                <button type="button"
                    class="flex items-center w-full p-4 text-base transition duration-75 text-gray-900 rounded-lg dark:text-white hover:bg-blue-200 dark:hover:bg-gray-700 group"
                    aria-controls="dropdown-cadastros" data-collapse-toggle="dropdown-cadastros">

                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white">
                        <path d=" m14.305 19.53.923-.382" />
                        <path d="m15.228 16.852-.923-.383" />
                        <path d="m16.852 15.228-.383-.923" />
                        <path d="m16.852 20.772-.383.924" />
                        <path d="m19.148 15.228.383-.923" />
                        <path d="m19.53 21.696-.382-.924" />
                        <path d="M2 21a8 8 0 0 1 10.434-7.62" />
                        <path d="m20.772 16.852.924-.383" />
                        <path d="m20.772 19.148.924.383" />
                        <circle cx="10" cy="8" r="5" />
                        <circle cx="18" cy="18" r="3" />
                    </svg>

                    <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">@NomeFuncionario</span>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 4 4 4-4" />
                    </svg>
                </button>
                <ul id="dropdown-cadastros" class="hidden p-2 space-y-2">
                    <li>
                        <a href="/perfil-funcionario"
                            class="flex items-center w-full p-2 text-gray-900 hover:bg-blue-200 transition duration-75 rounded-lg pl-11 group dark:text-white dark:hover:bg-gray-700">
                            Detalhes
                        </a>
                    </li>
                    <li>
                        <button @onclick="HandleLogout"
                            class="flex items-center w-full p-2 text-gray-900 hover:bg-blue-200 transition duration-75 rounded-lg pl-11 group dark:text-white dark:hover:bg-gray-700">
                            Sair
                        </button>
                    </li>
                </ul>
            </div>
        </li>

        <ul class="space-y-2 font-medium h-full">
            <span
                class="flex items-center w-full p-2 text-sm transition duration-75 mt-6 rounded-lg group dark:text-zinc-300 text-zinc-500">
                Controle de Serviços
            </span>

            <li>
                <a href="/"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 group">
                    <svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                        <path
                            d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z" />
                        <path
                            d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z" />
                    </svg>
                    <span class="ms-3">Dashboard</span>
                    <span
                        class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium text-gray-800 bg-gray-200 rounded-full dark:bg-gray-700 dark:text-gray-400">
                        Novo
                    </span>
                </a>
            </li>

            <li>
                <a href="/gerenciamento-servico"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 group">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
                        <path d="M14 7h3a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h3" />
                        <path d="M10.5 6a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Z" />
                        <path d="M16 14h-2" />
                        <path d="M16 18h-2" />
                        <path d="M8 14h2" />
                        <path d="M8 18h2" />
                        <path d="M12 14v4" />
                    </svg>
                    <span class="ms-3">Serviços</span>
                </a>
            </li>

            <span
                class="flex items-center w-full p-2 text-sm transition duration-75 mt-6 rounded-lg group dark:text-zinc-300 text-zinc-500">
                Gerenciamento de cadastros
            </span>

            <li>
                <a href="/gerencimaneto-funcionario"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 group">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
                        <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
                        <path d="M16 3.128a4 4 0 0 1 0 7.744" />
                        <path d="M22 21v-2a4 4 0 0 0-3-3.87" />
                        <circle cx="9" cy="7" r="4" />
                    </svg>
                    <span class="ms-3">Funcionário</span>
                </a>
            </li>

            <li>
                <a href="/gerencimaneto-animal"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 group">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
                        <path d="M11.25 16.25h1.5L12 17z" />
                        <path d="M16 14v.5" />
                        <path
                            d="M4.42 11.247A13.152 13.152 0 0 0 4 14.556C4 18.728 7.582 21 12 21s8-2.272 8-6.444a11.702 11.702 0 0 0-.493-3.309" />
                        <path d="M8 14v.5" />
                        <path
                            d="M8.5 8.5c-.384 1.05-1.083 2.028-2.344 2.5-1.931.722-3.576-.297-3.656-1-.113-.994 1.177-6.53 4-7 1.923-.321 3.651.845 3.651 2.235A7.497 7.497 0 0 1 14 5.277c0-1.39 1.844-2.598 3.767-2.277 2.823.47 4.113 6.006 4 7-.08.703-1.725 1.722-3.656 1-1.261-.472-1.855-1.45-2.239-2.5" />
                    </svg>
                    <span class="ms-3">Animais</span>
                </a>
            </li>

            <li>
                <a href="/gerencimaneto-produto"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 group">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
                        <path d="m15 11-1 9" />
                        <path d="m19 11-4-7" />
                        <path d="M2 11h20" />
                        <path d="m3.5 11 1.6 7.4a2 2 0 0 0 2 1.6h9.8a2 2 0 0 0 2-1.6l1.7-7.4" />
                        <path d="M4.5 15.5h15" />
                        <path d="m5 11 4-7" />
                        <path d="m9 11 1 9" />
                    </svg>
                    <span class="ms-3">Produtos</span>
                </a>
            </li>
        </ul>

        <ThemeToggle />

        <div id="dropdown-cta" class="p-4 rounded-lg bg-blue-100 dark:bg-gray-900" role="alert">
            <div class="flex items-center mb-3">
                <span
                    class="bg-orange-100 text-sm text-orange-800 font-semibold me-2 px-2.5 py-0.5 rounded-sm dark:bg-orange-200 dark:text-orange-900">
                    Site em desenvolvimento
                </span>
            </div>
            <p class="mb-3 text-sm text-gray-800 dark:text-gray-400">
                Isso é apenas um preview do que será o sistema. Desenvolvido e planejado para a matéria de
                Desenvolvimento Web do curso de ADS campus Ji-Paraná.
            </p>
        </div>
    </div>

    <div data-popover id="popover-user" role="tooltip"
        class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-xs opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
        <div class="px-3 py-2">
            <p>Acessar configurações do usuário</p>
        </div>
        <div data-popper-arrow></div>
    </div>
</div>

@implements IDisposable
@code {
    [Inject]
    public SideMenuService SideMenuService { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    private string NomeFuncionario => AuthService.FuncionarioLogado?.NomeFunc ?? "Usuário";

    protected override async Task OnInitializedAsync()
    {
        SideMenuService.OnChange += StateHasChanged;
        AuthService.OnAuthStateChanged += StateHasChanged;

        // Garantir que o estado esteja inicializado
        await AuthService.IsAuthenticatedAsync();
        StateHasChanged();
    }

    private async Task HandleLogout()
    {
        await AuthService.LogoutAsync();
        NavigationManager.NavigateTo("/");
    }

    public void Dispose()
    {
        SideMenuService.OnChange -= StateHasChanged;
        AuthService.OnAuthStateChanged -= StateHasChanged;
    }
}